.btn {
  button {
    padding: 0.3em 1em;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    min-width: 140px;
  }
  button:hover {
    background-color: white;
    color: #191919;
    transition: all 0.4s;
    transition-timing-function: ease-out;
  }
  button:active,
  button:focus {
    outline: none;
  }
}

.btn.btn-dark {
  button {
    color: #191919;
    border: 1px solid #191919;
  }
  button:hover {
    background-color: #191919;
    color: white;
  }
}
