header.mainNav {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;

  span {
    font-size: $ms-size;
  }
  button {
    padding: 0.3em 1em;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
  }
  button:hover {
    background-color: white;
    color: #000;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
}
