header.mainNav {
  position: fixed;
  z-index: 10;
  min-height: 40px;
  width: 100%;
  background-color: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .siteDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2em;
    @media only screen and (min-width: 640px) {
      flex-direction: row;
    }
    .siteTitle {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 0.3em;
      @media only screen and (min-width: 640px) {
        margin-bottom: 0;
      }
    }
  }

  span {
    font-size: $ms-size;
  }
}
