header.mainNav {
  position: fixed;
  z-index: 10;
  min-height: 40px;
  width: 100%;
  background-color: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .siteDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2em;
    @media only screen and (min-width: 640px) {
      flex-direction: row;
    }
    .siteTitle {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  span {
    font-size: $ms-size;
  }
  button {
    padding: 0.3em 1em;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    min-width: 140px;
  }
  button:hover {
    background-color: white;
    color: #000;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  button:active,
  button:focus {
    outline: none;
  }
}
